@import "all.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans.eot");
  src: url("../fonts/opensans.eot") format("embedded-opentype"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype"), url("../fonts/opensans.svg#opensans") format("svg"); }
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight.eot") format("embedded-opentype"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"), url("../fonts/OpenSansLight.svg#OpenSansLight") format("svg"); }
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSansSemibold.eot");
  src: url("../fonts/OpenSansSemibold.eot") format("embedded-opentype"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold.svg#OpenSansSemibold") format("svg"); }
@font-face {
  font-family: 'Lobster_1_4';
  src: url('../fonts/Lobster_1_4.eot');
  src: url('../fonts/Lobster_1_4.eot') format('embedded-opentype'),
  url('../fonts/Lobster_1_4.woff2') format('woff2'),
  url('../fonts/Lobster_1_4.woff') format('woff'),
  url('../fonts/Lobster_1_4.ttf') format('truetype'),
  url('../fonts/Lobster_1_4.svg#Lobster_1_4') format('svg');
}

$aqua_color: #44c0c2;
$font_color: #484c55;

@mixin max-screen($res){
  @media screen and (max-width: $res){
    @content
  }
}
@mixin min-screen($res){
  @media screen and (min-width: $res){
    @content
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

%btn{
  display: block;
  margin: auto;
  width: 225px;
  line-height: 65px;
  color: white;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: solid 1px white;
  @include border-radius(5px);
  &:hover{
    background-color: white;
    color: black;
    border-color: transparent;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 10px 0 #000000;
    box-shadow: 0 0 10px 0 #000000;
  }
}

header{
  background-color: white;
  .navbar-toggle{
    border-color: $font_color;
    span{
      background-color: $font_color;
    }
  }
  .navbar{
    margin-bottom: 0;
    border: none;
  }
  .navbar-brand{
    font-size: 43px;
    color: $aqua_color;
    font-family: 'Lobster_1_4';
    &:hover{
      color: $aqua_color;
    }
  }
  .navbar-nav>li>a {
    color: $font_color;
    font-size: 15px;
    border-bottom: solid 2px transparent;
    font-family: 'opensans';
    &:focus {
      background: none;
    }
    &:hover {
      border-bottom: solid 2px $aqua_color;
      background-color: #f8f9fb;
      @include max-screen(767px) {
        border-bottom: solid 2px transparent;
        padding-bottom: 10px;
      }
    }
  }
  .container>.navbar-collapse{
    margin: auto;
    text-align: center;
  }
}
.hero{
  .owl-carousel{
    background: url("../images/Layer4.png") no-repeat;
    background-size: cover;
    .item {
      //width: 60%;
      margin: auto;
      h3 {
        text-align: center;
        font-size: 63px;
        color: white;
        font-family: 'opensans';
        padding-top: 10%;
        @include max-screen(1023px) {
          font-size: 42px;
        }
      }
      p {
        text-align: center;
        font-size: 23px;
        color: white;
        font-family: 'opensans';
        padding-bottom: 5%;
        padding-top: 2%;
        @include max-screen(1023px) {
          font-size: 21px;
        }
      }
      a{
        @extend %btn;
        font-family: 'opensans';
        margin-bottom: 10%;
      }
    }
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    right: 85%;
    margin-right: 50px;
    outline: none;
    &:after {
      display: block;
      content: "";
      border: solid $aqua_color 2px;
      border-bottom: none;
      border-right: none;
      transform: rotate(-45deg);
      width: 20px;
      height: 20px;
    }
    &:before{
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      @include border-radius(30px);
      border: solid 1px white;
      background-color: white;
      position: absolute;
      left: -24px;
      top: -20px;
      z-index: -1;
    }
  }
  .owl-nav .owl-next{
    position: absolute;
    top: 45%;
    left: 85%;
    margin-left: 50px;
    outline: none;
    &:after{
      display: block;
      content: "";
      border: solid $aqua_color 2px;
      border-bottom: none;
      border-left: none;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
    }
    &:before{
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      @include border-radius(30px);
      border: solid 1px white;
      background-color: white;
      position: absolute;
      left: -17px;
      top: -20px;
      z-index: -1;
    }
  }
  .panel-heading{
    background-color: $aqua_color;
    color: white;
    text-decoration: none;
    font-family: 'opensans';
  }
  .panel-body {
    background: url("../images/Layer4.png") no-repeat;
    background-size: cover;
    .more {
      @extend %btn;
      width: 110px;
      line-height: 30px;
      font-size: 14px;
      font-family: 'opensans';
      margin-bottom: 15%;
      margin-top: 5%;
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
  }
  h4{
    font-size: 21px;
    font-family: 'opensans';
  }
  p{
    font-size: 14px;
    color: white;
    margin-top: 10%;
    font-family: 'opensans';
  }
}
.team{
  h2{
    font-size: 42px;
    color: $font_color;
    padding-bottom: 140px;
    padding-top: 100px;
    font-family: 'opensans';
  }
  .for_img{
    width: 200px;
    height: 200px;
    background-color: #eeeef0;
    display: inline-block;
    @include border-radius(50%);
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
    }
    &:hover{
      &:after{
        //opacity: 1;
        top: 84px;
      }
    }
    &:after{
      content: "";
      display: block;
      background-image: url("../images/+.png");
      width: 42px;
      height: 42px;
      position: absolute;
      left: 50%;
      margin-left: -21px;
      top: -84px;
      //opacity: 0;
      transition: 0.5s;
    }
  }
  h3{
    font-size: 22px;
    color: $font_color;
    margin-top: 75px;
    font-family: 'opensans';
    span{
      display: block;
      font-size: 14px;
      margin-top: 15px;
      font-family: 'opensans';
    }
  }
  p{
    font-size: 14px;
    color: $font_color;
    margin-top: 40px;
    padding-bottom: 100px;
    font-family: 'opensans';
  }
}
.plans{
  background-color: #f1f1f1;
  padding: 120px 0 100px;
  .panel{
    width: 100%;
    .panel-heading{
      background-color: #485460;
      color: white;
      line-height: 75px;
      font-size: 26px;
      font-family: 'opensans';
      @include max-screen(1169px){
        max-width: 100%;
      }
    }
    .list-group{
      border: transparent;
      @include max-screen(1169px){
        max-width: 100%;
      }
      .list-group-item{
        line-height: 45px;
        border: solid 1px #ecf0f1;
        color: #8c9299;
        font-size: 14px;
        font-family: 'opensans';
        &:first-child{
          line-height: 70px;
          color: #485460;
          font-size: 20px;
          background-color: #f8f9fb;
        }
      }
    }
    .for_btn{
      line-height: 100px;
      background-color: #f8f9fb;
      @include max-screen(1169px){
        max-width: 100%;
      }
      a{
        width: 170px;
        line-height: 40px;
        color: white;
        background-color: #788492;
        display: inline-block;
        font-size: 17px;
        font-family: 'opensans';
        @include border-radius(3px);
        &:hover{
          text-decoration: none;
          -webkit-box-shadow: 0 0 10px 0 #5E5959;
          box-shadow: 0 0 10px 0 #5E5959;
        }
        &:focus{
          text-decoration: none;
        }
      }
    }
  }
  .aqua{
    .panel-heading{
      background-color: $aqua_color;
    }
    .for_btn {
      a {
        background-color: $aqua_color;
      }
    }
  }
}
footer{
  background: url("../images/footer_img.png") no-repeat;
  background-size: cover;
  .btn{
    width: 170px;
    line-height: 25px;
    margin-bottom: 100px;
    background-color: #49cbcd;
    color: white;
    font-family: 'opensans';
    &:hover{
      -webkit-box-shadow: 0 0 10px 0 #5E5959;
      box-shadow: 0 0 10px 0 #5E5959;
      color: white;
    }
  }
  .footer_text{
    font-family: 'opensans';
    @include max-screen(1023px){
      font-size: 11px;
    }
    @include max-screen(415px){
      font-size: 5px;
    }
    font-size: 14px;
    color: #bface2;
  }
  .social_icon{
    display: inline-block;
    text-align: center;
    font-size: 21px;
    width: 42px;
    line-height: 42px;
    color: white;
    margin: 40px 15px 22px 0;
    border: solid 1px transparent;
    @include border-radius(21px);
    background-color: #3b5997;
    &:last-child{
    background-color: red;
      &:hover{
        color: red;
      }
  }
    &:nth-child(2){
      background-color: #3ec2f3;
      &:hover{
        color: #3ec2f3;
      }
    }
    &:hover{
      color: #3b5997;
      background-color: white;
      border-color: black;
      transition: 0.3s;
    }
  }
  p{
    color: white;
    font-size: 14px;
    font-family: 'opensans';
  }
  h3{
    font-size: 24px;
    color: white;
    font-family: 'opensans';
  }
  h2{
    font-size: 42px;
    color: white;
    padding-bottom: 140px;
    padding-top: 100px;
    font-family: 'opensans';
  }
  .for_lg{
    @include min-screen(1199px){
      text-align: left;
      p{
        text-align: left;
      }
      h3{
        text-align: left;
      }
    }
  }
}